.app-wrapper {
 
  width: 1200px;;

  display: grid;

  grid-template-areas: 
  "header header" /* первая строка  каждый хидер это то как он занимает столбцы*/
  "nav content";  /* вторая строка нав слева 2фр ,а контент все остальное*/

  grid-template-rows: 150px 1fr;
  grid-template-columns:160px 1fr ;


}
.app-wrapper-content{
  grid-area: content;
  background-color: rgb(107, 228, 228);


}




