.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItems {
    padding: 10px;

}

.dialogsItems .active {
    /*color: gold;*/
}

/*.dialogsItems .dialog a.active {*/
/*    color: gold;*/
/*    padding: 10px;*/
/*}*/

.dialog a {
    text-decoration: none;



}

.messages {

}

.messages .message {

}
